<!-- data binding -->
<!-- 1. string interpolation{{}}--
--1. uses double curly braces{{}}.
2.used to display data from ts to html
3.it is one way data binding.
4. can use variable, expression and function -->
<!-- //string -->
<h2>hello {{title}}</h2>
<p>{{userName}}</p>
<p>my name is {{name}}</p>
<p>{{msg}} and my name is {{name}}</p>
<!-- 4. Static + Dynamic String -->
<p>I lived in {{city}}</p>
<!-- //String Concatenation -->
<p>{{fname + " " + lname }}</p>
<!-- String Length -->
<p>{{msgs.length}}</p>
<!-- number -->
<h4>AGE IS {{age}}</h4>
<!-- // Uppercase & Lowercase -->
<p>{{text.toUpperCase()}}</p>
<p>{{text.toLowerCase()}}</p>

<!-- String with Function -->
<p>{{getmsg()}}</p>
<!-- 
String Condition -->
<p>{{status === 'success' ? 'login success' : 'login failed'}}</p>

<!-- //String Index Access -->
<p>First Letter: {{word[0]}}</p>
<!-- 
Combine Multiple Strings -->
<p>{{ brand + " " + product + " " + fruits}}</p>

<!-- 
Practice Questions (Try Yourself)
Display your college name
Show message: "My favorite subject is ___"
Combine city + state
Show first and last letter of a string
Convert string to uppercase -->
<p>Display : your college name is {{college}}</p>
<p>Show message: "My favorite subject is {{showmsg}}"</p>
<p>{{city+ " " +state}}</p>
<p>{{institute.toUpperCase()}}</p>
<!-- Explanation
word[0] → gives first character
word.length - 1 → gives last character index -->
<p>First Letter: {{ word[0] }}</p>
<p>Last Letter: {{ word[word.length - 1] }}</p>

<!-- //////////////////////////////////////////////////////////// -->
<!-- 2. property binding[] -->
<!-- 
Uses square brackets [ ]
Data flows from component → view (one-way binding)
Binds to DOM properties, not HTML attributes
Helps in making UI dynamic
Can bind string, number, boolean, object
//syntax: [elementProperty]="componentProperty" -->

<!-- Practice Examples -->
1. Bind Text to Input Field
<h2>property Binding</h2>
<input type="text" name="employee" id="" [value]="employee" class="form-control">

2. Bind Image Source

<img [src]="imgUrl">

3. Disable Button Dynamically
<button [disabled]="isDisabled">Click Me</button>

4. //Bind CSS Class

<div [class.active]="isActive">Hello</div>

5.Bind Style Dynamically

<div [style.backgroundColor]="bgColor">Box</div>

6. Bind Width/Height
<div [style.width.px]="boxWidth">Box</div>

7. Bind Title (Tooltip)

<p [title]="message">Hover me</p>

<!-- | Feature | Event Binding | Property Binding |
| ------- | ----------------- | ---------------- |
| Syntax | `(event)` | `[property]` |
| Flow | View → Component | Component → View |
| Example | `(click)="fun()"` | `[value]="name"` |



Two-Way Data Binding in Angular

Definition:
Two-way data binding means data flows in both directions:

Component ➡️ View
View ➡️ Component

It is a combination of:

Property Binding [ ]
Event Binding ( )

//Syntax
[(ngModel)]="propertyName"

Key Points
Uses banana in a box syntax → [( )]
Requires FormsModule
Syncs data automatically
Works mainly with form elements
Reduces code (no need for separate event + property binding) -->